# IMPORTING THE DEPENDENCIES

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

# Data cleaning and Pre-processing

In [2]:
#Loading the dataset
creditcard = pd.read_csv('creditcard.csv')

In [3]:
#first five rows of the dataset
creditcard.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [4]:
creditcard.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [5]:
creditcard.shape

(284807, 31)

In [6]:
#checking for missing values
creditcard.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [7]:
#distribution of legit and fraudulent transactions
creditcard["Class"].value_counts()

0    284315
1       492
Name: Class, dtype: int64

In [8]:
#THIS IS AN UNBALANCED DATASET

# Legit Transaction represent 0 while Fraudulent transaction represent 1

In [9]:
#Separating data for analysis
legit = creditcard[creditcard.Class == 0]
fraud = creditcard[creditcard.Class == 1]

In [10]:
print(legit.shape)
print(fraud.shape)

(284315, 31)
(492, 31)

In [11]:
#statistical measures of data
legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [12]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [13]:
#compare the values for both transaction
creditcard.groupby("Class").mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

# Dealing with unbalanced data - Under Sampling

In [14]:
#Build a sample dataset containing similar distribution of Legit transactions and Fraudulent transaction
#Number of fraudulent transaction == 492

In [15]:
legit_sample = legit.sample(n= 492)

# Concatenating the two dataframes

In [16]:
new_dataset = pd.concat([legit_sample, fraud], axis = 0)

In [17]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
99390,67097.0,-2.888639,0.332247,-0.050149,1.387565,-0.318462,0.311516,-0.386869,1.247843,-0.837985,...,0.284766,0.822308,0.061542,-0.252592,-0.283785,-0.215682,-0.384259,-0.322871,59.40,0
277210,167518.0,-0.250465,0.932919,0.392284,-0.505438,0.472820,-0.687210,0.978017,-0.260425,0.084702,...,-0.258948,-0.405009,0.055662,0.002694,-0.628533,0.160021,0.077710,-0.041144,3.99,0
53631,46078.0,-0.859762,1.152498,1.172344,-0.147584,-0.190914,-0.138609,0.201280,0.651377,-0.808590,...,-0.100233,-0.392718,0.083891,-0.008064,-0.272159,0.086126,0.146960,0.045078,16.98,0
193592,130203.0,-0.451229,1.266525,-1.801171,-0.135762,3.102145,3.557961,0.420122,1.232245,-0.975199,...,0.144619,0.502169,-0.213187,0.717421,0.099130,-0.354576,0.332066,0.174619,5.71,0
151812,96296.0,2.070161,0.360680,-2.426047,0.322155,0.985349,-1.098903,0.566825,-0.430716,1.363726,...,-0.047517,0.280682,-0.046240,0.669304,0.451356,0.175079,-0.099064,-0.060895,7.42,0

In [18]:
new_dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00,1
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76,1
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89,1
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00,1
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53,1

In [19]:
new_dataset['Class'].value_counts()

0    492
1    492
Name: Class, dtype: int64

In [20]:
new_dataset.groupby("Class").mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,96694.109756,0.053080,-0.010382,-0.053777,0.021586,0.089435,-0.013475,0.060031,-0.043435,0.024347,...,0.055962,0.029475,0.039810,-0.041999,0.046034,-0.019732,0.030917,-0.012619,-0.007424,95.925041
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

# Splitting data in Features and Target

In [21]:
X = new_dataset.drop(columns = "Class", axis = 1)
Y = new_dataset["Class"]

In [22]:
print(X)

            Time        V1        V2        V3        V4        V5        V6  \
99390    67097.0 -2.888639  0.332247 -0.050149  1.387565 -0.318462  0.311516
277210  167518.0 -0.250465  0.932919  0.392284 -0.505438  0.472820 -0.687210
53631    46078.0 -0.859762  1.152498  1.172344 -0.147584 -0.190914 -0.138609
193592  130203.0 -0.451229  1.266525 -1.801171 -0.135762  3.102145  3.557961
151812   96296.0  2.070161  0.360680 -2.426047  0.322155  0.985349 -1.098903
...          ...       ...       ...       ...       ...       ...       ...
279863  169142.0 -1.927883  1.125653 -4.518331  1.749293 -1.566487 -2.010494
280143  169347.0  1.378559  1.289381 -5.004247  1.411850  0.442581 -1.326536
280149  169351.0 -0.676143  1.126366 -2.213700  0.468308 -1.120541 -0.003346
281144  169966.0 -3.113832  0.585864 -5.399730  1.817092 -0.840618 -2.943548
281674  170348.0  1.991976  0.158476 -2.583441  0.408670  1.151147 -0.096695

              V7        V8        V9  ...       V20       V21       V22  \
99390  -0.386869  1.247843 -0.837985  ... -0.356388  0.284766  0.822308
277210  0.978017 -0.260425  0.084702  ...  0.185996 -0.258948 -0.405009
53631   0.201280  0.651377 -0.808590  ... -0.013252 -0.100233 -0.392718
193592  0.420122  1.232245 -0.975199  ...  0.015934  0.144619  0.502169
151812  0.566825 -0.430716  1.363726  ... -0.208690 -0.047517  0.280682
...          ...       ...       ...  ...       ...       ...       ...
279863 -0.882850  0.697211 -2.064945  ...  1.252967  0.778584 -0.319189
280143 -1.413170  0.248525 -1.127396  ...  0.226138  0.370612  0.028234
280149 -2.234739  1.210158 -0.652250  ...  0.247968  0.751826  0.834108
281144 -2.208002  1.058733 -1.632333  ...  0.306271  0.583276 -0.269209
281674  0.223050 -0.068384  0.577829  ... -0.017652 -0.164350 -0.295135

             V23       V24       V25       V26       V27       V28  Amount
99390   0.061542 -0.252592 -0.283785 -0.215682 -0.384259 -0.322871   59.40
277210  0.055662  0.002694 -0.628533  0.160021  0.077710 -0.041144    3.99
53631   0.083891 -0.008064 -0.272159  0.086126  0.146960  0.045078   16.98
193592 -0.213187  0.717421  0.099130 -0.354576  0.332066  0.174619    5.71
151812 -0.046240  0.669304  0.451356  0.175079 -0.099064 -0.060895    7.42
...          ...       ...       ...       ...       ...       ...     ...
279863  0.639419 -0.294885  0.537503  0.788395  0.292680  0.147968  390.00
280143 -0.145640 -0.081049  0.521875  0.739467  0.389152  0.186637    0.76
280149  0.190944  0.032070 -0.739695  0.471111  0.385107  0.194361   77.89
281144 -0.456108 -0.183659 -0.328168  0.606116  0.884876 -0.253700  245.00
281674 -0.072173 -0.450261  0.313267 -0.289617  0.002988 -0.015309   42.53

[984 rows x 30 columns]

In [23]:
print(Y)

99390     0
277210    0
53631     0
193592    0
151812    0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

# Split the data into training and testing data

In [24]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size = 0.2, stratify = Y, random_state = 69)

In [25]:
print(X.shape, X_train.shape, X_test.shape)

(984, 30) (787, 30) (197, 30)

# Model Training

In [26]:
#Logistics Regression

In [27]:
model = LogisticRegression()

In [28]:
#Training the logistics regression model with training data
model.fit(X_train, Y_train)

LogisticRegression()

# Model Evaluation

In [29]:
#Accuracy Score on training data
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [33]:
print("Training data accuracy : ", training_data_accuracy)

Training data accuracy :  0.9237611181702668

In [34]:
X_test_prediction = model.predict(X_test)
testing_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [35]:
print('Testing data accuracy : ', testing_data_accuracy)

Testing data accuracy :  0.8934010152284264